extends layout
block content
   div.container
      h1 View Employees
      table.table.table-striped.table-hover.table-bordered
         thead
            tr
               th ID
               th Name
               th Title
               th Hire date
               th Edit / Delete
         tbody
         each employee in employees
            tr
               td
                  p #{employee._id}
               td
                  a(href='/employees/' + employee._id) #{employee.titleOfCourtesy} #{employee.firstName} #{employee.lastName}
               td
                  p #{employee.title}
               td
                  p #{employee.hireDate}
               td
                  button.btn.btn-info(type='button', data-toggle='modal', data-target='#editModal', class="editbutton")
                        span.glyphicon.glyphicon-comment
                  button.btn.btn-info(type='button',data-toggle='modal', data-target='#deleteModal', class="deletebutton", rowid=employee._id)
                        span.glyphicon.glyphicon-trash
      a(href='/orders', target='_parent').btn.btn-primary
         span.glyphicon.glyphicon-arrow-left &nbsp;Back