extends layout
block content
   div.container
      h1 View Employees
      table.table.table-striped.table-hover.table-bordered
         thead
            tr
               th ID
               th Name
               th Title
               th Hire date
         tbody
         each employee in employees
            tr
               td
                  p #{employee._id}
               td
                  a(href='/employees/' + employee._id) #{employee.titleOfCourtesy} #{employee.firstName} #{employee.lastName}
               td
                  p #{employee.title}
               td
                  p #{employee.hireDate}
      a(href='/orders', target='_parent').btn.btn-primary
         span.glyphicon.glyphicon-arrow-left &nbsp;Back