extends layout
block content
    div.container
        a(href='/', target='_parent', id='BackButton').btn.btn-primary Go back!
        h1.orderview Order View
        table.table.table-striped.table-hover.table-bordered
            thead
                tr
                    th ID
                    th Date
                    th Name
                    th Address
                    th Edit  /  Delete
            tbody
            each order in orders
                tr
                    td
                        a(href='/orders/' + order._id) #{order._id}
                    td
                        p #{order.orderDate}
                    td
                        p #{order.shipName}
                    td
                        p #{order.shipAddress}
                    td
                        //button.btn.btn-info(type='button', id="editbutton")
                            //span.glyphicon.glyphicon-comment
                        button.btn.btn-info(type='button', data-toggle='modal', data-target='#editModal', class="editbutton")
                            span.glyphicon.glyphicon-comment
                        button.btn.btn-info(type='button',data-toggle='modal', data-target='#deleteModal', class="deletebutton", rowid=order._id)
                            span.glyphicon.glyphicon-trash

        #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#myModalLabel.modal-title Edit order
                    .modal-body
                        .input-group
                            span.input-group-addon Name:
                                input.form-control(type='text', placeholder='Name:')
                        .input-group
                            span.input-group-addon Address:
                                input.form-control(type='text', placeholder='Address:')
                        .input-group
                            span.input-group-addon City:
                                input.form-control(type='text', placeholder='City:')
                        .input-group
                            span.input-group-addon Zip:
                                input.form-control(type='text', placeholder='Zip:')
                        .input-group
                            span.input-group-addon Country:
                                input.form-control(type='text', placeholder='Country:')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Go back
                        button.btn.btn-success(type='button',data-toggle='modal', data-target='#areYouSureModal', id="areYouSurebutton") Save changes
        #areYouSureModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Edit
                        h4#myModalLabel.modal-title Save changes
                    .modal-body
                        p Are you sure you want to save changes?
                    .modal-footer
                        button.btn.btn-success(type='button') Yes
                        button.btn.btn-danger(type='button', data-dismiss='modal') No
        #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#myModalLabel.modal-title Delete order
                    .modal-body
                        p You are about to delete an order. Are you sure you want to proceed?
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') No
                        button.btn.btn-danger(type='button', id="orderdelete", data-dismiss='modal') Yes

