
extends layout
block content
    div.container
        h1 Order details
        div.col-md-12
            div.col-md-3
                p Id: #{order._id}
                p Date: #{order.orderDate}
                p Required: #{order.requiredDate}
                p Shipped: #{order.shippedDate}
                p Employee:&nbsp;
                    a(href='/employees/' + order.employee._id) #{order.employee.firstName} #{order.employee.lastName}
            div.col-md-3
            div.col-md-3
                p Name:&nbsp;
                    a(href='/customers/' + order.customer._id) #{order.shipName}
                p Address: #{order.shipAddress}
                p City: #{order.shipCity}
                p Zip:  #{order.shipPostalCode}
                p Country:  #{order.shipCountry}
            div.col-md-3
        table.table.table-striped.table-hover.table-bordered
            thead
                tr
                    th Product
                    th Unit Price
                    th Quantity
                    th Discount
                    th Price
            tbody
                - var sum = 0;
                each orderDet in orderDetails
                    tr
                        - var discount = +orderDet.discount.toFixed(2);
                        - var orderPrice = Math.round(orderDet.quantity * orderDet.unitPrice * (1 - discount));
                        - sum += orderPrice;
                        td
                            p #{orderDet.product.name}
                        td
                            p #{orderDet.unitPrice}
                        td
                            p #{orderDet.quantity}
                        td
                            p #{discount}
                        td
                            p #{orderPrice}
                tr
                    td
                        h4 Total
                    td
                    td
                    td
                    td
                        h4 #{sum}

        a(href='/orders', target='_parent').btn.btn-primary
            span.glyphicon.glyphicon-arrow-left &nbsp;Back
